<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite xmlns:con="http://eviware.com/soapui/config" id="7bcd648e-5f44-4ec2-a598-5a2d6573cf25" name="Smoke TestSuite_001">
  <con:settings id="b156b70a-4246-4d78-a6a9-3e3490faef7b">
    <con:setting id="7bcd648e-5f44-4ec2-a598-5a2d6573cf25fileName">Smoke-TestSuite_001</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties>
    <con:property>
      <con:name>TS</con:name>
      <con:value/>
    </con:property>
  </con:properties>
  <con:reportParameters/>
  <con:environmentSpec>
    <con:entry environmentId="2d76a73a-10b3-42ce-8711-bbeba08669d8">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:testSuite>
